{% extends 'index.html' %}
{% load tags %}
{% block content %}
    <div id="content">
        <div class="content-wrapper">
            <div class="row">
                <!-- Start .row -->
                <!-- 页面顶部 -->
                <div class="col-lg-12 heading">
                    <h1 class="page-header"><i class="im-screen"></i> 客户管理</h1>
                    <ul id="crumb" class="breadcrumb">
                    </ul>
                    <div class="option-buttons">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                    <i class="ec-refresh color-red s24"></i>
                                </a>
                            </div>
                            <div class="btn-group dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i
                                        class="br-grid s24"></i></a>
                                <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <div class="option-dropdown">
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-images color-dark"></i>
                                                <span>图库</span>
                                            </a>
                                        </div>
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-link color-blue"></i>
                                                <span>链接</span>
                                            </a>
                                        </div>
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-support color-red"></i>
                                                <span>支持</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-heading">
                    <h3 class="panel-title">
                        {% get_model_name admin_class %}列表
                    </h3>
                    <a href="{{ request.path }}/add" class="pull-right"
                       style="padding-top: 9px;padding-right: 50px">
                        <li class="br-plus">&nbsp;新增{% get_model_name admin_class %}</li>
                    </a>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="" method="get">
                            <div class="row">
                                <div class="col-lg-2">
                                    <input type="search" name="_q" class="form-control" style="margin-left:15px"
                                           value="{{ search_value }}" placeholder="search">
                                </div>
                                <div class="col-lg-2">
                                    <button type="SUBMIT" class="btn btn-success">search</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <hr>

                    <table class="table display dataTable" id="datatable"
                           aria-describedby="datatable_info">
                        <thead>
                        <tr role="row">
                            {% for column in admin_class.list_display %}
                                {#                                    {% build_table_header_column column %}#}
                                <th><a href="?0={{ column }}">{% attr_name admin_class column %}</a></th>
                            {% endfor %}
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {#                            {% get_query_sets admin_class as query_sets %}#}
                        {% for obj in query_sets %}
                            <tr>
                                {% build_table_row request obj admin_class %}
                                {% build_operate_column request obj %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="dataTables_paginate paging_bs_full" id="datatable_paginate">
                                <ul class="pagination">
                                    {% build_paginators query_sets search_value %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}