{% extends 'index.html' %}
{% block content %}
    <div id="content">
        <div class="content-wrapper">
            <div class="row">
                <!-- Start .row -->
                <!-- 页面顶部 -->
                <div class="col-lg-12 heading">
                    <h1 class="page-header"><i class="im-screen"></i> 客户管理</h1>
                    <ul id="crumb" class="breadcrumb">
                    </ul>
                    <div class="option-buttons">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group">
                                <a id="clear-localstorage" class="btn tip" title="Reset panels position">
                                    <i class="ec-refresh color-red s24"></i>
                                </a>
                            </div>
                            <div class="btn-group dropdown">
                                <a class="btn dropdown-toggle" data-toggle="dropdown" id="dropdownMenu1"><i
                                        class="br-grid s24"></i></a>
                                <div class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu1">
                                    <div class="option-dropdown">
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-images color-dark"></i>
                                                <span>图库</span>
                                            </a>
                                        </div>
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-link color-blue"></i>
                                                <span>链接</span>
                                            </a>
                                        </div>
                                        <div class="shortcut-button">
                                            <a href="#">
                                                <i class="ec-support color-red"></i>
                                                <span>支持</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal group-border hover-stripped" role="form" action="" method="post">
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">姓</label>
                            <div class="col-lg-8 col-md-8">
                                {{ customer.first_name }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">名</label>
                            <div class="col-lg-8 col-md-8">
                                {{ customer.last_name }}
                            </div>
                        </div>
                        <!-- End .form-group  -->
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">联系地址</label>
                            <div class="col-lg-8 col-md-8">
                                {{ customer.address }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">头像</label>
                            <div class="col-lg-10 col-md-10">
                                {{ customer.head_url }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-2 col-md-2 col-sm-12 control-label">公司名称</label>
                            <div class="col-lg-8 col-md-8">
                                <div class="row">
                                    <div class="col-lg-8 col-md-8">
                                        {{ customer.company }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" align="center">
                            <button class="btn btn-primary">提交</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}